@font-face {
  font-family: "Leow";
  src: url("../fonts/loew-next-arabic-medium.ttf") format("truetype");
}

body {
  min-height: 100vh;
  place-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: "Leow" !important;
  margin: 0;
  background-image: url("../logo/ET background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.create,
.button,
.delete,
.a.button {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 10px;
  color: #efefef;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  width: 50%;
}

.create,
.a.button {
  background-color: #00a651;
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 999;
  width: 200px;
  text-align: center;
  font-family: "Leow";
  font-weight: 700;
}

.create:hover {
  background-color: #008e45;
}

.button,
.a.button {
  background-color: #ffffff;
  color: #00a651;
  font-weight: 700;
}

.button:hover,
.a.button:hover {
  background-color: #efefef;
}

.delete {
  background-color: #000000;
  color: #eeeeee;
  font-weight: 700;
  font-family: "Leow";
}

.a.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #ffffff;
  font-family: "Leow";
  font-weight: 700;
  color: #00a651;
}

.delete:hover {
  background-color: #171717;
}
.a.button:hover {
  background-color: #efefef;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #171717;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.error-message {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffcccc;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
}

.success-message {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00a651;
  padding: 10px;
  border: 1px solid #00783a;
  border-radius: 5px;
  color: #ffffff;
}

.table-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  color: #ffffff !important;
}

.table-container h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #000000 !important;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #1c1e1b !important;
}

.table-striped thead th {
  background-color: #00a651;
  color: white;
}

.table {
  margin: 0%;
  padding: 25px;
  box-sizing: border-box;
  background-color: #1c1e1b;
  border: 1px solid #00783a !important;
  border-radius: 5px;
  --bs-table-bg: none !important;
  color: #ffffff !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  border: 1px solid #00783a !important;
}

label {
  margin-bottom: 16px;
  color: #ffffff !important;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  color: #ffffff !important;
}

div.dataTables_wrapper div.dataTables_info {
  color: #ffffff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box !important;
  display: inline-block !important;
  padding: 2px !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  border: 1px solid transparent !important;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: #ffffff !important;
  background-color: #00a651 !important;
  border-color: #1c1e1b !important;
  border-radius: 5px !important;
}

.page-link {
  color: #000000 !important;
  border-radius: 5px;
}

.form-select {
  background-color: #000000 !important;
}

.dataTables_wrapper .dataTables_length select {
  text-align: center !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #00a651 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none !important;
  background-color: none !important;
}

.navbar {
  background-color: #00a651;
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.navbar-links a.active {
  background-color: #fff;
  color: #00a651;
  border-radius: 5px;
}

.delete-form {
  margin-right: 12px;
  justify-items: center;
}

.delete-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.createQR {
  background-color: #84a1d2;
  position: fixed;
  bottom: 160px;
  right: 20px;
  z-index: 999;
  width: 200px;
  text-align: center;
  font-family: "Leow";
  display: inline-block;
  padding: 12px 24px;
  margin-top: 10px;
  color: #efefef;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
  font-weight: 700;
}

.createQR:hover {
  background-color: #6e85ac;
}