@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* General styles */
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #92C7CF !important;
}

.qr-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.qr-item {
    background-color: #AAD7D9;
    padding: 10px;
    border: 3px solid #E5E1DA;
    text-align: center;
}

.qr-code-container {
    margin-bottom: 10px;
}

h1 {
    text-shadow: 1px 1px 1px #000000; 
    color: whitesmoke !important;
    font-family: 'Montserrat';
    margin-bottom: 20px !important;
}

.button {
    margin-top: 10px;
    font-family: 'Quicksand';
}

.dropdown-menu {
    min-width: 150px;
    margin-top: 10px;
}

.create,
.button,
.delete,
.a.button {
    display: inline-block;
    padding: 12px 24px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
    width: 50%;
}

.create,
.a.button {
    background-color: #40A2E3;
    position: fixed;
    bottom: 90px; 
    right: 20px; 
    z-index: 999; 
    width: 200px;
    text-align: center;
    font-family: 'Quicksand';
    font-weight: 700;


}

.create:hover {
    background-color: #3487bf;
}

.button,
.a.button {
    background-color: #FBF9F1;
    color:black;
    font-weight: 700;
}

.button:hover,
.a.button:hover {
    background-color: #e0ddd5;
}

.delete {
    background-color: #D4A190; 
    color:#EEEEEE;
    font-weight: 700;
    font-family: 'Quicksand';
}

.a.button {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
    background-color: #d58a11; 
    font-family: 'Quicksand';
    font-weight: 700;
        color:#EEEEEE;



}

.delete:hover {
    background-color: #B07D6F;
    

}
.a.button:hover {
    background-color: #9e6810;
}
